@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

button{
  cursor: pointer;
}

ul{
  list-style: none;
}

a{
  color: inherit;
  text-decoration: inherit;
}

span{
  font-weight: 700;
}

.nav--container{
  width: 100%;
  height: 88px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  display: flex;
  align-items: center;
  color: #6f777d;
  gap: 18px;
  padding: 0 10%;
}

.nav--container img{
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.nav--container h3{
  font-weight: 700;
  cursor: pointer;
  transition: 0.7s ease-in-out;
}

.nav--container h3:hover{
  color: #3d4144;
}

.nav--container ul{
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 1.3em;
}

.nav-li {
  display: inline-block;
  position: relative;
  color: #6f777d;
  cursor: pointer;
}

.nav-li::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3d4144;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer--container{
  width: 100%;
  height: 140px;
  background-color: #f2f3f3;
  padding: 20px 10%;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.1em;
  font-weight: 700;
  color: #6f777d;
}

.footer--container ul{
  display: flex;
  gap: 26px;
}

.main-screen--container{
  width: 100%;
  height: auto;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
}

.main-screen-about--container{
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.main-screen-about--container h1{
  color: #6f777d;
  font-size: 1.3em;
}

.main-screen-about--container h2{
  color: #3d4144;
  font-weight: 400;
  font-size: 1.15em;
}

.posts-cont{
  height: auto;
}

.post--box{
  width: 60%;
  height: 340px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
  overflow: hidden;
}

.post--box h2{
  font-size: 1.5em;
  font-weight: 700;
  color: #00b7c6;
  text-decoration: underline;
  cursor: pointer;
}

.post--box p{
  color: #6f777d;
  font-size: 0.8em;
}

.post--box h4{
  font-size: 1em;
  font-weight: 400;
  color: #3d4144;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post--box img{
  width: 300px;
  height: auto;
}

.main-contact--container{
  width: 100%;
  height: calc(100vh - 228px);
  padding: 50px 20%;
  color: #3d4144;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-contact--container h2{
  font-size: 2em;
  font-weight: 700;
}

.main-contact--container p{
  font-size: 1.4em;
  word-wrap: break-word;
  line-height: 32px;
  font-weight: 400;
}

svg{
  overflow: visible;
}

.about{
  width: 100%;
  padding: 30px;
}

.articles--container{
  width: 100%;
  height: auto;
  padding: 30px 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-current-post--container{
  width: 100%;
  height: auto;
  min-height: 80vh;
  display: flex;
  padding: 30px 10%;
}

.side-profile--container{
  width: 20%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
  gap: 20px;
  opacity: 0.6;
  transition: 0.4s ease-in-out;
  color: #3d4144;
}

.side-profile--container:hover{
  opacity: 1;
}

.side-profile--container img{
  width: 104px;
  height: 104px;
  border-radius: 50%;
  border: 1px solid #6f777d20;
  padding: 5px;
}

.side-profile--container ul{
  display: flex;
  flex-direction: column;
  gap: 8px;
} 


.side-profile--container ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.side-profile--container ul li svg {
  width: 20px;
}

.current-post--container{
  width: 80%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #3d4144;
}

.current-post--p{
  font-size: 1.3em;
  line-height: 1.5em;
}

.current-post--time{
  color: #6f777d;
  margin-bottom: 20px;
}

.current-post--img{
  width: 700px;
  height: auto;
}